<h1 class="header">todo-list</h1>
<div class="container-fluid">
    <table class="table table-dark table-bordered table-hover">
        <thead>    
            <tr>
                <th scope="col">id</th>
                <th scope="col">todo_text</th>
                <th scope="col">time_added</th>
                <th scope="col">time_finished</th>
                <th scope="col">boolean finished</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos">
                <th scope="row">{{todo.id}}</th>
                <th>{{todo.todo_text}}</th>
                <th>{{todo.time_added}}</th>
                <th>{{todo.finished}}</th>
            </tr>
        </tbody>
    </table>
</div>