<h1 class="header">todo-list</h1>
<div class="container-fluid">
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">    
            <tr >
                <th scope="col">id</th>
                <th scope="col">todo_text</th>
                <th scope="col">time_added</th>
                <th scope="col">time_finished</th>
                <th scope="col">boolean finished</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos" (click)="todoClicked(todo)">
                <th scope="row">{{todo.id}}</th>
                <th>{{todo.todo_text}}</th>
                <th>{{todo.time_added}}</th>
                <th>{{todo.time_finished}}</th>
                <th>{{todo.finished}}</th>
            </tr>
        </tbody>
    </table>
</div>
<h2>Selected Todo</h2>
<ul>
    <li>
        <input type="text" [(ngModel)]="selected_todo.todo_text">TEXT
    </li>
    <li>
        <input type="text" [(ngModel)]="selected_todo.time_added">ADDED
    </li>
    <li>
        <input type="checkbox" [(ngModel)]="selected_todo.is_finished">FINISHED
    </li>
    <li>
        <input type="text" [(ngModel)]="selected_todo.time_finished">TIME_FINISHED
    </li>
    <li>
        <button (click)="todoUpdate()"> PUT </button> <button (click)="todoCreate()"> POST </button> <button (click)="todoDelete()"> DELETE </button>
    </li>
</ul>